In [1]:
import numpy as np

In [4]:
arr = np.array((np.arange(5, 1000, 6), np.arange(7, 1000, 6)))

In [6]:
arr.T.flatten()

array([  5,   7,  11,  13,  17,  19,  23,  25,  29,  31,  35,  37,  41,
        43,  47,  49,  53,  55,  59,  61,  65,  67,  71,  73,  77,  79,
        83,  85,  89,  91,  95,  97, 101, 103, 107, 109, 113, 115, 119,
       121, 125, 127, 131, 133, 137, 139, 143, 145, 149, 151, 155, 157,
       161, 163, 167, 169, 173, 175, 179, 181, 185, 187, 191, 193, 197,
       199, 203, 205, 209, 211, 215, 217, 221, 223, 227, 229, 233, 235,
       239, 241, 245, 247, 251, 253, 257, 259, 263, 265, 269, 271, 275,
       277, 281, 283, 287, 289, 293, 295, 299, 301, 305, 307, 311, 313,
       317, 319, 323, 325, 329, 331, 335, 337, 341, 343, 347, 349, 353,
       355, 359, 361, 365, 367, 371, 373, 377, 379, 383, 385, 389, 391,
       395, 397, 401, 403, 407, 409, 413, 415, 419, 421, 425, 427, 431,
       433, 437, 439, 443, 445, 449, 451, 455, 457, 461, 463, 467, 469,
       473, 475, 479, 481, 485, 487, 491, 493, 497, 499, 503, 505, 509,
       511, 515, 517, 521, 523, 527, 529, 533, 535, 539, 541, 545, 547,
       551, 553, 557, 559, 563, 565, 569, 571, 575, 577, 581, 583, 587,
       589, 593, 595, 599, 601, 605, 607, 611, 613, 617, 619, 623, 625,
       629, 631, 635, 637, 641, 643, 647, 649, 653, 655, 659, 661, 665,
       667, 671, 673, 677, 679, 683, 685, 689, 691, 695, 697, 701, 703,
       707, 709, 713, 715, 719, 721, 725, 727, 731, 733, 737, 739, 743,
       745, 749, 751, 755, 757, 761, 763, 767, 769, 773, 775, 779, 781,
       785, 787, 791, 793, 797, 799, 803, 805, 809, 811, 815, 817, 821,
       823, 827, 829, 833, 835, 839, 841, 845, 847, 851, 853, 857, 859,
       863, 865, 869, 871, 875, 877, 881, 883, 887, 889, 893, 895, 899,
       901, 905, 907, 911, 913, 917, 919, 923, 925, 929, 931, 935, 937,
       941, 943, 947, 949, 953, 955, 959, 961, 965, 967, 971, 973, 977,
       979, 983, 985, 989, 991, 995, 997])

In [7]:
np.array((np.arange(5, 100, 6), np.arange(7, 100, 6))).T.flatten()

array([ 5,  7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53,
       55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97])

In [13]:
n = 42
if n % 5 == 0:
    n = n-1
np.array((np.arange(5, n+1, 6), np.arange(7, n+1, 6))).T.flatten()

C:\Users\RoundPiano\AppData\Local\Temp\ipykernel_22200\4179578642.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array((np.arange(5, n+1, 6), np.arange(7, n+1, 6))).T.flatten()

array([array([ 5, 11, 17, 23, 29, 35, 41]),
       array([ 7, 13, 19, 25, 31, 37])], dtype=object)